- User.all.each do |user|
  %ul
    %li= link_to "@#{user.nickname}", "http://twitter.com/#{user.nickname}", :target => "_blank"
    %li.count= user.followers.count
    %li= user.email
    %li.location= user.location
    = welcome_new_user_btn(user)
