- title(t 'name')

- if user_signed_in? && current_user.waitlist? && current_user.email?
  - # User signed in but is on waitlist
  %p= raw(t 'home.thanks_1', :day => Time.now.strftime("%A"))
  %p= raw(t 'home.thanks_2', :email => current_user.email)

- elsif user_signed_in? && current_user.waitlist? && current_user.email.blank?
  - # User signed in but hasn't provided an email yet
  %p= raw(t 'home.more_1', :name => current_user.name)
  %p= raw(t 'home.more_2')
  = form_for(current_user) do |f|
    = f.email_field :email, :autofocus => true, :placeholder => 'your@email.com'
    = f.submit (t 'home.request_btn')

- elsif user_signed_in? && !current_user.waitlist?
  - # User signed in and no longer on waitlist
  #dashboard
    - if current_user.unfollowers.count == 0
      %p.none= t 'home.placeholder'
    - else
      - current_user.unfollowers.each do |id|
        = unfollower_link(id)

- else
  - # User not signed in
  %p= raw(t 'home.intro_1')
  / %p= raw(t 'home.intro_2')

  = form_tag(request_path) do
    = submit_tag(t 'home.request_btn')
