= form_for(@user) do |f|
  .label-checkbox
    - unless current_user.waitlist?
      = f.check_box :mail_opt
      = f.label "Automatically send me a daily unfollower email"
  = f.email_field :email, :placeholder => 'your@email.com', :autofocus => true
  = f.submit "Save Settings"
