%footer
  .copyright= raw(t 'footer.copyright')
  .footer-nav{ :style => ("text-align: center" unless user_signed_in?) }
    = link_to((t 'footer.home_btn'), root_url)
    \/
    - if user_signed_in?
      = link_to(raw(t 'footer.settings_btn'), settings_path)
      \/
      = link_to((t 'footer.feedback_btn'), feedback_path)
      \/
      = link_to((t 'footer.logout_btn'), logout_path)
    - else
      = link_to((t 'footer.feedback_btn'), feedback_path)
      \/
      = link_to((t 'footer.login_btn'), request_path)
