= render 'layouts/head'

%body{ :class => controller_name, :id => action_name }

  %header
    %h1= t 'name'
    
  %section
    = render 'layouts/flash_messages'
    = yield

  %footer
    = raw(t 'footer.copyright')
    %span &mdash;
    = link_to((t 'footer.feedback_btn'), feedback_path)
    %span &mdash;
    - if user_signed_in?
      = link_to((t 'footer.logout_btn'), logout_path)
    - else
      = link_to((t 'footer.login_btn'), request_path)

= yield :javascripts
