= render 'layouts/head'

%body{ :class => controller_name, :id => action_name }

  %header
    %h1= t 'name'
    
  %section
    = render 'layouts/flash_messages'
    = yield

  = render 'layouts/footer'

= yield :javascripts
